@import "../font-awesome/scss/font-awesome"

$bg: lighten(#c1b2a4,25%)
$header: #485968
$green: #64a686
$red: #f4665f

@mixin font ()
	font-family: "Helvetica Neue", sans-serif
	font-weight: lighter

body
	background: $bg
	margin: 0

.graph-wrap
	position: absolute
	top: 10%
	height: 80%
	width: 100%
	background: darken($bg,5%)
	border: 1px solid darken($bg,15%)

	#graph
		height: 100%
		width: 100%
		box-sizing: border-box

		path
			stroke: $green
			stroke-width: 1
			fill: none

		.axis
			shape-rendering: crispEdges

		.x-axis, .y-axis
			@extend .axis

		.x-axis line
			stroke: darken($bg,25%)

		.x-axis .minor
			stroke-opacity: .5

		.x-axis path
			display: none

		.y-axis line, .y-axis path
			fill: none
			stroke: darken($bg,25%)



